# Папка сборки Maven (включая скомпилированные классы и отчеты)
target/

# Новая кастомная папка результатов Allure (если перенесли её из target)
allure-results/

# Файлы настроек среды разработки IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Файлы настроек Eclipse (на случай, если кто-то запустит проект в ней)
.classpath
.project
.settings/

# Логи операционной системы и временные файлы
Thumbs.db
.DS_Store
*.log